In [1]:
import hmd_lib_notebook_magics.cluster_management
%load_ext hmd_lib_notebook_magics.cluster_management

In [2]:
cluster_conn = 'trino://trino-clst-spot:trino-1/hive?protocol=https'
local_trino = 'trino://admin@trino:8081/hive'

# Need for Trino databases
%config NSClusterMagics.autocommit=False

# the local override must come first
%local_cluster_override {cluster_conn} {local_trino}
%nscluster {cluster_conn}

trino://admin@trino:8081/hive
Using local override: trino://admin@trino:8081/hive

In [4]:
%%sql
SHOW SCHEMAS

 * trino://admin@trino:8081/hive
Done.

[('default',),
 ('demo_final',),
 ('demo_source',),
 ('demo_staging',),
 ('demo_ux',),
 ('information_schema',)]

In [9]:
%%sql
SHOW TABLES FROM demo_source

 * trino://admin@trino:8081/hive
Done.

[('event_0_1_1_2023_01_05_1001_case_20230105_172125',),
 ('event_0_1_1_2023_01_05_2205_case_20230105_234157',),
 ('event_0_1_1_2023_01_12_1001_case_20230112_185022',),
 ('event_0_1_1_2023_01_12_4423_case_20230112_113627',),
 ('event_0_1_1_2023_02_10_5555_case_20230210_135208',),
 ('event_0_1_1_2023_02_10_5555_case_20230210_180626',),
 ('telemetry_0_1_1_2023_01_05_1001_case_20230105_172125',),
 ('telemetry_0_1_1_2023_01_05_2205_case_20230105_234157',),
 ('telemetry_0_1_1_2023_01_12_1001_case_20230112_185022',)]

In [11]:
%%sql
SELECT * FROM demo_source.telemetry_0_1_1_2023_01_05_1001_case_20230105_172125 LIMIT 50

 * trino://admin@trino:8081/hive
Done.

[(None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 4000), '1001', 'case_20230105_172125'),
 ((545, 855, 863), (6.8, 1.23, 2.55), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 19000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 22000), '1001', 'case_20230105_172125'),
 ((547, 854, 864), (5.948945968399053, 1.83, 2.44), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 63000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 116000), '1001', 'case_20230105_172125'),
 ((549, 855, 864), (5.1, 2.14, 3.64), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 145000), '1001', 'case_20230105_172125'),
 ((549, 853, 866), (5.22, 3.2, 2.98), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 155000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 175000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 191000), '1001', 'case_20230105_172125'),
 ((551, 854, 864), (4.5, 1.7, 2.36), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 247000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 253000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 269000), '1001', 'case_20230105_172125'),
 ((549, 855, 865), (3.45, 2.28, 0.83), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 306000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 307000), '1001', 'case_20230105_172125'),
 ((547, 855, 866), (2.1, 0.36, 1.0), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 338000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 341000), '1001', 'case_20230105_172125'),
 ((546, 853, 865), (0.93, 0.4, 2.85), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 349000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 374000), '1001', 'case_20230105_172125'),
 ((545, 852, 863), (1.19, 0.23, 0.9), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 434000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 442000), '1001', 'case_20230105_172125'),
 ((546, 853, 862), (2.89, 1.23, 0.65), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 458000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 487000), '1001', 'case_20230105_172125'),
 ((548, 855, 861), (1.51, 2.64, 0.11), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 528000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 546000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 617000), '1001', 'case_20230105_172125'),
 ((546, 856, 860), (0.11, 3.27, 0.77), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 624000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 643000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 665000), '1001', 'case_20230105_172125'),
 ((548, 854, 859), (0.14, 1.89, 1.51), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 711000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 716000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 730000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 765000), '1001', 'case_20230105_172125'),
 ((548, 855, 858), (1.87, 2.76, 1.9), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 770000), '1001', 'case_20230105_172125'),
 ((548, 856, 859), (0.15, 2.9, 2.21), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 777000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 782000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 787000), '1001', 'case_20230105_172125'),
 ((547, 857, 859), (0.46, 3.089736078849868, 0.8), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 795000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 812000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 829000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 847000), '1001', 'case_20230105_172125'),
 ((546, 857, 857), (1.2, 2.13, 0.11), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 861000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 875000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 940000), '1001', 'case_20230105_172125'),
 ((544, 856, 857), (0.27, 3.7, 1.53), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 941000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 950000), '1001', 'case_20230105_172125'),
 ((542, 857, 858), (0.6, 4.71, 1.5), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 965000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 978000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 998000), '1001', 'case_20230105_172125'),
 (None, None, 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 35000), '1001', 'case_20230105_172125'),
 ((540, 855, 859), (1.99, 4.8, 1.99), 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 26, 47000), '1001', 'case_20230105_172125')]

In [6]:
%%sql
SHOW TABLES FROM demo_staging

 * trino://admin@trino:8081/hive
Done.

[('event_0_1_1',), ('telemetry_0_1_1',)]

In [12]:
%%sql
SELECT * FROM demo_staging.event_0_1_1 LIMIT 50

 * trino://admin@trino:8081/hive
Done.

[(109, 'Movement view grow. Information man nice member. Reveal international should special deep scene.\nWest study least family. Reality student method poor.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 4000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 19000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (200, 'Everything recent sense be wife improve health. Call beautiful decision role building teacher central stay.\nCost head leg. Mission control town beat.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 22000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Then read marriage organization fund stay north. Usually third crime whole own.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 175000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (200, 'As he fish full assume military. Push trouble nature suggest live about.\nBlack thus fund military apply become. Sing itself close health goal.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 191000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 247000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (111, 'Carry both among news fish. Nothing set might economic close seem power. Plant represent whether religious.\nEast lawyer then same skill to. Number start attorney paper of kid all.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 253000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (111, 'Expert yes up reason effect which minute. Laugh could movie major than song building.\nOk interesting also career when require. Project benefit small every artist of.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 269000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 306000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Them local involve increase. Never rate energy hope garden receive. Nice action call management.\nFly early hotel lot focus here. Near instead political financial. Sell drug home concern action.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 307000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 338000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (400, 'Main recently coach box before rule. White religious central both see bar.\nHead set Democrat big.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 341000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 349000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (109, 'Human such case force while hundred pattern become. Decade sure right light call develop.\nCampaign as build above when. Tonight everybody blue who life argue.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 374000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 434000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (400, 'Fight firm newspaper but single develop station. Include hundred leg truth admit three also.\nCivil research light interesting. Suddenly stand learn enjoy. Think huge left food according it.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 442000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 458000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (111, 'Account responsibility station work billion reason prove. Also future specific TV onto.\nTreatment recognize executive moment theory news analysis gun. Worker on bit teach health really involve.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 487000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 528000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (104, 'Standard in newspaper more again. Kind third about really between plant among.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 546000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (109, 'Chair subject area senior decide enter. Benefit play factor fire partner.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 617000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 624000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (112, 'Series firm account add everyone. Dinner quickly several way seem.\nPay car laugh analysis. Black answer look day. All anything rate soon.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 643000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (200, 'Look also attention lose reach air action. Probably artist PM.\nItem together sing. After security strategy imagine become analysis. Able agree travel plan only once trial sound.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 665000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 711000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Defense way large effect. Leader deep shake movie next thank last at. Her institution another physical young pass. Third whether white throw public strong physical.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 716000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Moment popular deal for machine executive. Structure government perform or reduce yard those. Special recently someone article number.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 730000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 63000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Last level according onto everything agency charge. Wrong program service. This together election begin up loss relate.\nBut oil expert factor before whose technology test. Thank carry can himself.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 116000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 145000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 155000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (111, 'Value wear than Congress with south. Contain task capital note.\nLate total role sister decade arrive. Student a particularly these long. Laugh big two strategy television industry.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 765000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 770000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 777000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (104, 'Among man too check thousand involve sign. Learn teach five. Chair around step.\nLaugh term discover record second wait run law. Front sit name customer education beautiful college.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 782000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (112, 'Offer gas appear pretty central wear pay. Responsibility several common serve which action those federal. Surface land hear look air decide.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 787000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 795000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (250, 'No adult out. Indicate develop remember. Less story scientist teach idea already.\nSeason himself employee responsibility. Day church consumer light true guess. Record smile person way.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 812000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (104, 'Book watch vote enter term it crime. Positive hotel successful. Perhaps data major yard effect especially.\nReturn politics account really lot six could. Special nice on thank hand can condition.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 829000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (107, 'Sort end one discuss reveal conference stand. Almost onto morning town. Partner perform would better data design check.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 847000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 861000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (104, 'Drop cell everybody several huge already economy. Suggest exist model listen technology very interest.\nSoldier toward kind live. Outside or leader glass.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 875000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Act scene forward blue bar shoulder Mr. Sign be test deal exist mention its. Environmental start energy room produce play particular yet.\nList board than continue dark. Care road war miss its.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 940000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 941000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (112, 'Claim whom carry improve serve these authority. Something natural Mr federal him beautiful. Each land which discussion economy might wish although.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 950000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 25, 965000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (111, 'Wall each player. Maybe contain land air someone. Question letter south beyond.\nFinal indeed claim yourself. Other finally defense evening she. Nor church tax your various he.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 978000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (250, 'Pattern local surface serious become person consumer top. Meet laugh low later safe item run. Necessary somebody in book certain.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 998000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (400, 'Few process service free strategy suddenly first. Doctor actually card not. Population gun live total during likely worry. Approach memory require at doctor behind table.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 35000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (None, None, 'telemetry', datetime.datetime(2023, 1, 5, 17, 21, 26, 47000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125')]

In [7]:
%%sql
SHOW TABLES FROM demo_final

 * trino://admin@trino:8081/hive
Done.

[('event_0_1_1',), ('telemetry_0_1_1',)]

In [8]:
%%sql
SELECT * FROM demo_final.event_0_1_1 LIMIT 50

 * trino://admin@trino:8081/hive
Done.

[]

In [19]:
%%sql
SHOW TABLES FROM demo_ux

 * trino://admin@trino:8081/hive
Done.

[('event',), ('telemetry',)]

In [20]:
%%sql
SELECT * FROM demo_ux.event LIMIT 100

 * trino://admin@trino:8081/hive
Done.

[(109, 'Movement view grow. Information man nice member. Reveal international should special deep scene.\nWest study least family. Reality student method poor.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 4000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (200, 'Everything recent sense be wife improve health. Call beautiful decision role building teacher central stay.\nCost head leg. Mission control town beat.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 22000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Last level according onto everything agency charge. Wrong program service. This together election begin up loss relate.\nBut oil expert factor before whose technology test. Thank carry can himself.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 116000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Then read marriage organization fund stay north. Usually third crime whole own.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 175000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (200, 'As he fish full assume military. Push trouble nature suggest live about.\nBlack thus fund military apply become. Sing itself close health goal.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 191000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (111, 'Carry both among news fish. Nothing set might economic close seem power. Plant represent whether religious.\nEast lawyer then same skill to. Number start attorney paper of kid all.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 253000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (111, 'Expert yes up reason effect which minute. Laugh could movie major than song building.\nOk interesting also career when require. Project benefit small every artist of.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 269000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Them local involve increase. Never rate energy hope garden receive. Nice action call management.\nFly early hotel lot focus here. Near instead political financial. Sell drug home concern action.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 307000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (400, 'Main recently coach box before rule. White religious central both see bar.\nHead set Democrat big.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 341000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (109, 'Human such case force while hundred pattern become. Decade sure right light call develop.\nCampaign as build above when. Tonight everybody blue who life argue.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 374000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (400, 'Fight firm newspaper but single develop station. Include hundred leg truth admit three also.\nCivil research light interesting. Suddenly stand learn enjoy. Think huge left food according it.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 442000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (111, 'Account responsibility station work billion reason prove. Also future specific TV onto.\nTreatment recognize executive moment theory news analysis gun. Worker on bit teach health really involve.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 487000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (104, 'Standard in newspaper more again. Kind third about really between plant among.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 546000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (109, 'Chair subject area senior decide enter. Benefit play factor fire partner.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 617000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (112, 'Series firm account add everyone. Dinner quickly several way seem.\nPay car laugh analysis. Black answer look day. All anything rate soon.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 643000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (200, 'Look also attention lose reach air action. Probably artist PM.\nItem together sing. After security strategy imagine become analysis. Able agree travel plan only once trial sound.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 665000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Defense way large effect. Leader deep shake movie next thank last at. Her institution another physical young pass. Third whether white throw public strong physical.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 716000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Moment popular deal for machine executive. Structure government perform or reduce yard those. Special recently someone article number.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 730000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (111, 'Value wear than Congress with south. Contain task capital note.\nLate total role sister decade arrive. Student a particularly these long. Laugh big two strategy television industry.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 765000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (104, 'Among man too check thousand involve sign. Learn teach five. Chair around step.\nLaugh term discover record second wait run law. Front sit name customer education beautiful college.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 782000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (112, 'Offer gas appear pretty central wear pay. Responsibility several common serve which action those federal. Surface land hear look air decide.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 787000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (250, 'No adult out. Indicate develop remember. Less story scientist teach idea already.\nSeason himself employee responsibility. Day church consumer light true guess. Record smile person way.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 812000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (104, 'Book watch vote enter term it crime. Positive hotel successful. Perhaps data major yard effect especially.\nReturn politics account really lot six could. Special nice on thank hand can condition.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 829000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (107, 'Sort end one discuss reveal conference stand. Almost onto morning town. Partner perform would better data design check.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 847000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (104, 'Drop cell everybody several huge already economy. Suggest exist model listen technology very interest.\nSoldier toward kind live. Outside or leader glass.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 875000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Act scene forward blue bar shoulder Mr. Sign be test deal exist mention its. Environmental start energy room produce play particular yet.\nList board than continue dark. Care road war miss its.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 940000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (112, 'Claim whom carry improve serve these authority. Something natural Mr federal him beautiful. Each land which discussion economy might wish although.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 950000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (111, 'Wall each player. Maybe contain land air someone. Question letter south beyond.\nFinal indeed claim yourself. Other finally defense evening she. Nor church tax your various he.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 978000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (250, 'Pattern local surface serious become person consumer top. Meet laugh low later safe item run. Necessary somebody in book certain.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 25, 998000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (400, 'Few process service free strategy suddenly first. Doctor actually card not. Population gun live total during likely worry. Approach memory require at doctor behind table.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 35000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (109, 'Its figure turn society PM. Peace point role cover summer build interest.\nYourself its single plant. Kind thousand provide list provide least mean.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 116000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (104, 'Become word media develop. Push range discussion seem dark effort reality general.\nIn begin require.\nMaterial team focus quality really room soon. Performance experience prevent source.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 126000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (109, 'Action husband level child send office. Stock claim simply five pull. Himself happen officer especially. Point item yard city.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 151000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (200, 'Standard politics stock baby enter race. Foreign lot no. Federal lay role one collection.\nBox available pay animal security. Break positive wife wall hot. Owner often north find pass partner within.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 191000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (250, 'Bar in start mind big course study. Area without relationship early trouble less visit necessary. Mind ground why story born sometimes resource left. Issue between common realize ability age unit.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 205000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (107, 'Experience ability at eye subject. Of see benefit. Ahead upon fast mother writer role. Home suddenly institution then raise happy.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 278000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (250, 'Another wide computer forget start happen.\nStock forget firm some myself hour suddenly although. Property avoid around visit imagine professor. Again able start music send.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 306000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (109, 'National call agency training operation involve. Federal professional sure increase firm. Dog various collection second responsibility.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 400000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (111, 'Their increase top than. Under expect something agent to stop race conference. Interesting particularly relationship page carry.\nTry team speech visit. Blue buy place series animal lot attack.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 469000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (112, 'Far general market Democrat. Reality of environmental I fire health. Bag space consider throw enjoy best.\nProfessor debate issue eye. Early cold book focus answer fill white.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 486000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (104, 'Seek security bank put there. Film continue hundred technology.\nRaise body particularly. Possible would strategy cell right course three.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 563000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (400, 'Find care hospital the ability commercial head. Nearly check line research time think experience when.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 569000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (110, 'Personal final outside hit travel reality government job. Similar pick stop population game.\nGlass thing travel score operation affect. Leg how treat draw interesting reflect big account.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 581000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (107, 'Remain car want western lawyer prove could near. Can full feel soldier. Response might building seven.\nIf girl threat quality. Into pull put.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 623000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (400, 'Find computer record budget available hot idea. Direction above guess two improve treat.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 627000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (107, 'Among hope event man whom would goal. Star research many serve only radio look. Human rest purpose.\nWith production picture good dinner. Time picture fire edge. Officer seven owner decide street.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 712000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Young anything conference arrive but. Reach as million research evening area yes system. Lay up answer option effort board.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 735000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (200, 'Daughter picture office second travel short. Memory style important speak hour create term.\nEvidence quickly administration nor tree same political. Rock series goal exist face.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 781000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Investment early how board test.\nSound one majority similar within morning. Either seek himself body however this little.\nDesign after result real old. Minute movie responsibility per worker.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 787000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (107, 'Agency voice knowledge attention about set close. Energy he indeed response road.\nBe respond better trip information. Size special world why able score style. Program too whether brother.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 884000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (100, 'Common quality ability exist. Bad watch article fish anyone drop.\nAvailable opportunity until law class fly. Expect treat season move low. Course fund moment structure edge share.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 917000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (200, 'Its answer line cut. Seat measure market.\nUs response challenge already experience nearly eye.\nHistory now interview bit. Manage subject hour institution. Health because economic realize.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 26, 969000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (250, 'Control the political sit artist think step other. Hundred cultural our. Exist together effect important everybody modern. Charge success fast financial back security avoid.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 27, 11000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (112, 'Civil practice remain PM million. Full share everything not. Drop final great letter.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 27, 70000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (104, 'Card partner action tell movement day particularly. Cost red able physical.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 27, 111000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (107, 'None level data manage. Grow both red sister what partner. Him the deal white country six increase.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 27, 114000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (110, 'Serious arm change idea detail throw talk sport. Window change machine page wife. Happy however close budget. Name today write media ever war.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 27, 173000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (110, 'Maybe identify approach home. Never maybe finally rest draw away force.\nAgent sea network baby any. Center chance question local blood sea. Someone kind population century military deep each.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 27, 192000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (109, 'Detail quickly even successful against executive whether particularly. Financial why single teach we. Song not suddenly as. Late inside we try other here student into.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 27, 235000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (200, 'Officer share where base our. Cultural heavy these participant often gas together. Agent yard check seem explain teacher.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 27, 250000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (109, 'Night soon most garden financial Republican street. Get thank modern reduce.\nWithout Mr improve anything day many. Traditional Congress decade during child.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 27, 341000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (200, 'Mother people out rock game child culture. Box particular chair.\nControl speak travel admit.\nEffect doctor red blue finish camera. Market social court civil.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 27, 433000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (112, 'Glass live method class. Fast different feel table deep.\nSave worry material ago serve certainly memory. Style push raise billion industry because.', 'event', datetime.datetime(2023, 1, 5, 17, 21, 27, 474000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),

In [21]:
%%sql
SELECT * FROM demo_ux.telemetry LIMIT 100

 * trino://admin@trino:8081/hive
Done.

[(588, 856, 835, 2.68, 0.26, 1.99, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 1, 835000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (588, 856, 837, 2.56, 1.1, 0.63, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 1, 898000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (586, 856, 839, 0.6, 0.35, 1.65, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 1, 959000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (587, 856, 837, 0.51, 0.8, 2.9, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 1, 967000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (588, 856, 839, 1.2, 0.49, 2.35, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 1, 990000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (589, 856, 839, 2.67, 0.63, 3.7, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 1, 996000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (588, 857, 839, 3.82, 0.75, 4.58, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 92000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (586, 856, 838, 4.52, 0.22, 4.22, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 113000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (587, 856, 837, 3.15, 0.4, 2.68, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 141000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (587, 854, 835, 4.57, 0.74, 2.34, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 215000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (589, 856, 837, 3.41, 1.5, 1.71, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 266000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (587, 858, 837, 2.36048796445554, 1.28, 2.97, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 267000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (586, 857, 838, 0.96, 2.24, 1.91, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 335000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (588, 855, 840, 0.39, 3.81, 2.31, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 390000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (590, 853, 838, 1.76, 3.26, 2.47, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 482000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (597, 843, 841, 6.46, 3.69, 2.29, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 477000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (596, 845, 842, 7.39, 4.89, 1.45, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 491000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (594, 846, 844, 5.8, 4.47, 1.67, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 523000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (592, 846, 842, 5.96, 4.45, 1.8, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 559000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (591, 844, 840, 6.65, 4.15, 0.66, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 653000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (589, 846, 841, 6.32, 3.62, 1.16, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 701000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (587, 846, 843, 6.92, 2.1, 1.4, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 747000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (586, 848, 842, 7.67, 3.42, 1.5, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 846000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (588, 849, 841, 6.37, 3.4, 1.46, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 942000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (588, 848, 843, 4.5, 2.28, 1.24, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 15000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (587, 849, 843, 5.3887681422169855, 2.3040220857277767, 1.57, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 97000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (586, 848, 844, 3.68, 2.31, 2.82, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 169000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (584, 850, 843, 2.594960325625829, 0.82, 2.72, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 198000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (585, 851, 845, 0.86, 0.37, 0.88, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 251000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (584, 851, 844, 1.12, 1.65, 1.92, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 258000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (583, 849, 845, 2.93, 0.17, 2.96, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 270000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (584, 848, 845, 4.366168496719676, 1.63, 1.58, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 291000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (586, 848, 845, 4.21, 0.78, 0.77, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 343000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (586, 849, 846, 3.82, 0.84, 1.6, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 395000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (585, 848, 845, 2.0, 0.68, 0.51, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 415000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (584, 847, 846, 0.66, 0.5, 0.85, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 455000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (585, 848, 846, 0.13, 1.33, 1.85, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 517000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (583, 847, 844, 1.31, 1.96, 1.65, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 551000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (583, 847, 842, 1.23, 1.89, 1.47, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 644000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (581, 848, 841, 1.89, 1.3, 0.15, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 662000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (580, 849, 843, 2.28, 2.96, 1.81, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 717000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (580, 849, 844, 3.96, 2.6, 2.33, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 726000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (580, 849, 844, 3.27, 3.4, 0.4, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 727000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (578, 848, 846, 4.68, 3.54, 0.46, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 763000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (577, 846, 844, 3.00668738577599, 2.84, 0.67, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 772000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (579, 844, 843, 4.59, 1.23, 1.78, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 819000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (579, 842, 843, 3.96, 0.32, 0.1, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 829000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (578, 840, 842, 3.15, 0.74, 0.79, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 858000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (579, 842, 843, 2.29, 0.92, 0.2, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 865000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (581, 844, 841, 2.87, 0.54, 0.75, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 895000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (581, 842, 839, 1.9, 0.46, 0.37, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 940000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (579, 844, 837, 1.11, 0.9, 1.2, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 4, 956000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (581, 846, 835, 2.58, 1.94, 0.91, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 34000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (579, 848, 835, 1.27, 0.9, 1.48, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 108000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (578, 846, 835, 2.51, 0.13, 1.88, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 197000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (578, 846, 836, 1.37, 0.74, 0.49, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 289000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (579, 847, 838, 2.53, 1.98, 1.75, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 340000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (581, 847, 840, 3.24, 1.36, 1.84, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 425000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (581, 846, 841, 2.1, 0.74, 1.33, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 467000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (580, 848, 843, 0.7, 1.2, 2.58, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 563000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (580, 846, 841, 1.1, 1.46, 2.79, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 603000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (578, 844, 839, 2.86, 2.2, 2.76, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 647000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (579, 846, 838, 2.97, 1.86, 0.86, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 699000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (577, 847, 838, 2.4, 0.1, 1.54, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 761000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (575, 849, 839, 1.69, 0.84, 2.44, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 784000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (575, 849, 837, 1.85, 1.47, 2.32507368404043, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 829000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (573, 849, 839, 1.3, 0.6, 2.86, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 915000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (573, 850, 840, 2.5, 1.31, 1.68, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 5, 992000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (575, 849, 842, 1.5, 1.9, 2.51, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 69000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (577, 850, 844, 1.86, 0.2, 2.8, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 112000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (576, 852, 843, 1.49, 1.96, 1.89, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 175000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (576, 852, 842, 1.37, 1.91, 2.45, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 260000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (576, 853, 840, 1.97, 2.29, 1.7, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 305000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (574, 851, 840, 0.14, 0.51, 0.3, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 325000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (576, 853, 840, 1.14, 0.83, 1.24, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 383000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (577, 851, 841, 1.59, 0.9, 2.81, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 450000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (575, 852, 842, 2.8, 1.62, 1.17, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 474000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (573, 852, 841, 3.81, 2.45, 2.76, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 496000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (571, 851, 842, 4.82, 1.39, 3.93, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 500000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (571, 851, 843, 3.69, 1.46, 3.19, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 542000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (572, 853, 843, 3.15, 2.19, 1.92, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 576000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (574, 853, 843, 1.54, 0.23, 1.28, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 578000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (573, 855, 844, 1.53, 1.84, 2.59, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 677000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (573, 857, 844, 0.4, 2.7, 0.74, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 6, 765000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (591, 851, 840, 1.1, 1.65, 2.98, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 500000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (590, 851, 841, 0.61, 1.46, 1.63, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 579000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (588, 852, 843, 1.2, 0.18, 1.38, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 660000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (590, 850, 841, 2.14, 0.57, 1.52, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 719000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (589, 851, 841, 2.53, 0.45, 1.74, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 810000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (589, 849, 839, 2.44, 1.32, 0.46, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 857000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (588, 849, 840, 3.37, 2.96, 0.36, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 883000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (586, 848, 839, 2.95, 2.057816952721071, 1.1, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 2, 975000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (586, 847, 839, 3.1, 0.73, 0.41, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 54000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (588, 845, 837, 2.34, 1.27, 0.66, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 119000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (590, 846, 839, 3.2, 0.93, 0.49, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 148000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (589, 845, 840, 4.69, 1.43, 0.72, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 221000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (589, 844, 838, 5.85, 1.29, 1.6, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 238000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (591, 843, 840, 4.5, 2.86, 0.58, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 298000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (593, 843, 840, 5.207057333574288, 4.205261822648773, 0.11, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 392000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125'),
 (595, 845, 842, 5.15, 5.39, 1.93, 'telemetry', datetime.datetime(2023, 1, 5, 17, 23, 3, 461000), '1001', 'case_20230105_172125', datetime.date(2023, 1, 5), '1001', 'case_20230105_172125')]